button {
    margin-right: 5px;
}

header {
    position: relative;
    width: 100%;
    background-color: darkslategray;
    color: white;
    height: 80px;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    text-align: center;
}

h2 {
    display: inline;
}

.card {
    margin: 5px;
    width: 10rem;
    text-align: center;
}

#city-list p {
    border: 1px solid lightgray;
    height: 50px;
    font-size: 2.0rem;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 5px;
}

.uv-extreme {
    background-color: purple;
    color: white;
}

.uv-very-high {
    background-color: red;
    color: white;
}

.uv-high {
    background-color: orange;
    color: white;
}

.uv-moderate {
    background-color: yellow;
}

.uv-low {
    background-color: green;
    color: white;
}

